

/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 25px 0;
}

[class*="col-"]{
    height: 50px;
    border: 1px #fff solid;
    background-color: blue;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}
/* non cambia niente in questo caso ma lo metto comunque */
[class="col-xs"]{
    height: 50px;
    border: 1px #fff solid;
    background-color: blue;
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

/* row inside a row */
.pad {
    padding: 0;
}
.row-green [class*="col-"]{
    background-color: lime;
    border: 1px solid blue;
    padding: 0;
    height: 30px;
    padding-top: 5px;
}

.row-green{
    margin: 10px;
}

.space {
    height: 50px;
}